.table-scroll, #entry_form {
    overflow:auto;
}

.p{
    color: #0C4047;
}

#aboutPage{
    background-color: #F6F8FA;
    padding: 20px;
    border-radius: 10px;
    line-height: 50px;
}

#FormDiv{
    display: table;
    margin: 0 auto;
    width: 50%;
    background-color: #F6F8FA;
    padding: 20px;
    border-radius: 10px;
    line-height: 50px;
}

#labelSetAlarm {
    margin-left: 30px;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0px;

}