.table-scroll, #entry_form {
    overflow:auto;
}

.p{
    color: #0C4047;
}

#aboutPage{
    background-color: #F6F8FA;
    padding: 20px;
    border-radius: 10px;
    line-height: 50px;
}

#entryFormDiv, #contactFormDiv{
    width: 50%;
    background-color: #F6F8FA;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
    border-radius: 10px;
    line-height: 50px;
}

#calendar_entry_mode, #contactFormHead{
    margin-left: 25%;
}

#labelSetAlarm {
    margin-left: 30px;
}

input[type=text] {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    border-radius: 0px;

}